.grid-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  @media (max-width: 597px) {
    padding: 5px;
  }
  .grid-item{
    position: relative;
    height: 200px;
    width:200px;
    background-color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;

    &:hover{
      transform: scale(1.04, 1.1);
    }

    mat-icon{
      position: absolute;
      right: 0;
      color: orangered;
      cursor: pointer;
    }

    img{
      width: 200px;
      height: 164px;
    }
  }
}
